*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%
}

.main {
    width: 100%;
    height: 100%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 180px 180px 180px;
    grid-template-areas: "item1 item2 item2"
                        "item1 item3 item4"
                        "item5 item5 item6";
    grid-gap: 1rem;

}

.item {
    background-color: crimson;
    border: 1px solid rgb(176, 169, 169);
    border-radius: .5rem;
}

.item1 {
    background-color: crimson;
}

