* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.main {
    background-color: rgb(89, 62, 89);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    background-color: beige;
    width: 18.3vw;
    height: 52vh;
    padding: 20px 20px;
}

img {
    width: 310px;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: rgb(163, 110, 10);
    place-self: center;
    padding: 5px 0px;
}

.description {
    font-size: 14px;
    place-self: center;
    padding-bottom: 10px;
}

.ratings {
    background-color: crimson;
    width: 70px;
    height: 25px;
    border-radius: 4px;
    place-self: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    color: #fff;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.price {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 900;
    place-self: center;
    padding-bottom: 10px;
}

.offer-price {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: rgb(163, 110, 10);
    place-self: center;
}

