* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 40px;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.product-grid {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
}

.card {
    height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 1px solid black;

    padding: 20px;
    text-align: center;

    transition: 0.3s;
}

.card h2 {
    margin-bottom: 15px;
}

.card p {
    font-size: 20px;
    font-weight: bold;
}

/* Hover Effect */

.card:hover {
    transform: scale(1.05);
}


/* Tablet */

@media (max-width: 900px) {

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}


/* Mobile */

@media (max-width: 600px) {

    .product-grid {
        grid-template-columns: 1fr;
    }

}