* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


/* Dashboard Grid */

.dashboard {
    min-height: 100vh;

    display: grid;

    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr;
}


/* Header */

header {
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;
}


/* Sidebar */

aside {
    padding: 30px 20px;

    background-color: lightgray;
}

aside h2 {
    margin-bottom: 25px;
}

aside nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

aside a {
    color: black;
    text-decoration: none;
}


/* Main */

main {
    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr 1fr;

    gap: 20px;

    padding: 30px;
}


/* Boxes */

.box {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 20px;

    background-color: lightblue;

    transition: 0.5s;
}

.box h2 {
    margin-bottom: 15px;
}

.box p {
    font-size: 25px;
}


/* One box spans two columns */

.box1 {
    grid-column: span 2;
}


/* Hover Effect */

.box:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px gray;
}


/* Responsive */

@media (max-width: 700px) {

    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
    }

    header {
        grid-column: 1;
    }

    aside {
        text-align: center;
    }

    aside nav {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .box1 {
        grid-column: span 1;
    }

}